.headerr{
    /* background-image: url('../../.././Images/coverphoto1.jpg');*/

    background-image: radial-gradient(circle at center center, transparent,rgb(0,0,0)),linear-gradient(114deg, rgba(59, 59, 59,0.05) 0%, rgba(59, 59, 59,0.05) 50%,rgba(63, 63, 63,0.05) 50%, rgba(63, 63, 63,0.05) 100%),linear-gradient(186deg, rgba(173, 173, 173,0.05) 0%, rgba(173, 173, 173,0.05) 50%,rgba(237, 237, 237,0.05) 50%, rgba(237, 237, 237,0.05) 100%),linear-gradient(98deg, rgba(191, 191, 191,0.05) 0%, rgba(191, 191, 191,0.05) 50%,rgba(119, 119, 119,0.05) 50%, rgba(119, 119, 119,0.05) 100%),linear-gradient(58deg, rgba(95, 95, 95,0.05) 0%, rgba(95, 95, 95,0.05) 50%,rgba(189, 189, 189,0.05) 50%, rgba(189, 189, 189,0.05) 100%),linear-gradient(259deg, rgba(31, 31, 31,0.05) 0%, rgba(31, 31, 31,0.05) 50%,rgba(110, 110, 110,0.05) 50%, rgba(110, 110, 110,0.05) 100%),linear-gradient(41deg, rgba(142, 142, 142,0.05) 0%, rgba(142, 142, 142,0.05) 50%,rgba(84, 84, 84,0.05) 50%, rgba(84, 84, 84,0.05) 100%),linear-gradient(134deg, rgba(96, 96, 96,0.05) 0%, rgba(96, 96, 96,0.05) 50%,rgba(198, 198, 198,0.05) 50%, rgba(198, 198, 198,0.05) 100%),linear-gradient(46deg, rgba(12, 12, 12,0.05) 0%, rgba(12, 12, 12,0.05) 50%,rgba(71, 71, 71,0.05) 50%, rgba(71, 71, 71,0.05) 100%),radial-gradient(circle at center center, hsl(227,81%,21%),hsl(227,81%,21%));


    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    /* position: sticky; */
    /* top: 5px; */
}
.headerr{
    display: flex;
    /* flex-direction: column; */
    /* position:relative; */
    height: 300px;
    margin-top: 0px;
    background-color: #17236a;
    align-items: center;
    justify-content: center;
    place-items: center;
    border: 1px solid black;
}

h1,p{
    margin: 0;
    padding: 20px;
}
.Name{
    /* margin-top:; */
    /* margin-left: 35%; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 7px;
    border: 2px solid white;
    margin: 50px;
    color: white;
    /* background-color: aqua; */
    height: 150px;
    width: 700px;
    margin-bottom: 10px;
}


.CV{
    background-color: #17236a;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    
}
.CV:hover{
    background-color: #71788f;
}
