h1,p{
    margin: 0;
    padding: 20px;
}
h3{
    margin-left: 20px;
}
.title-2{
    display: block;
    text-align: center;
    padding-bottom: 20px;
    justify-content: center;
}
.About-out{
    background-image: url('../../Images/coverphoto.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;

}
.about-2-body{
    padding: 30px;
    color: white;
    background-image: url('../../Images/coverphoto1.jpg');
    background-repeat: repeat;
    background-size:auto;
    background-position: center;
}

.About{
    display: flex;
    margin-left:50px;
    margin-right: 50px;
    /* background-color: darkcyan; */
}
.image{
    height:16rem;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: #0a173b;
    background-image: url('../../Images/coverphoto1.jpg');
    background-repeat: repeat;
    background-size:cover;
    background-position: center;


}
