.nav{
    height: 50px;
    position: sticky;
    top: 0px;
    display: flex;
    background-color:antiquewhite;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin: 0;
    border-bottom: 1px solid black;

}
.image-nav{
    height: 40px;
    border-radius: 50%;
    background-color: #0a173b;
}
.lists{
    display: flex;
    list-style-type: none;
    color: white;
    /* margin-left: 5px; */
}
.list-item{
    margin-left: 25px;
    padding: 5px;
    /* margin: 3px; */
    border-radius: 50px;
    background-color: #0a173b;
}
.list-item:hover{
    background-color: #71788f;
}

.about{
    /* margin: 3px; */
    padding-left: 5px;
    padding-right: 5px;
}
.profile-pic{
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.myname{
    padding: 5px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 20px;
}